{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block body %}
<div class="artist-index">
    <div class="artist-info">
        <img src="{{ artist.images[2].url }}" class="rounded-circle float-left display-6" alt="{{ artist.name }}">
        <div class="artis-data">
            <h2>{{ artist.name }}</h2>
            <span><b>Followers:</b> {{ artist.followers.total|number_format }}</span>
        </div>
    </div>
    <div class="albums-list">
        <table class="table album-table">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Album</th>
                    <th scope="col">Track</th>
                </tr>
            </thead>
            <tbody>
                {% for album in albums %}
                    <tr>
                        <td>
                            <img src="{{ album.images[2].url }}" class="img-thumbnail" />
                        </td>
                        <td>
                            {{ album.name }}
                        </td>
                        <td>
                            {{ fisrtTrack(album.id) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
