{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="new-releases">
    <h2>New Releases</h2>
    <div class="row">
        {% for release in relases %}
            <div class="col-sm-3">
                <div class="album-container">
                    <div class="info-container">
                        <div class="album-img">
                            <div class="album-img-container">
                                <img src="{{ release.images[1].url }}" width="{{ release.images[1].width }}" height="{{ release.images[1].height }}" class="img-fluid" />
                            </div>
                        </div>
                        <div class="data-album">
                            <div class="album-title">
                                {{ release.name }}
                            </div>
                            <div class="album-artists">
                            {% for artist in release.artists %}
                                <a href="{{ path('artists', {'id': artist.id}) }}">{{ artist.name }}</a>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
